
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ACTIVITI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ACTIVITI]
GO
USE [ACTIVITI]
GO
/****** Object:  Table [dbo].[ACT_DE_DATABASECHANGELOG]    Script Date: 2018/9/11 8:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACT_DE_DATABASECHANGELOG](
	[ID] [varchar](255) NOT NULL,
	[AUTHOR] [varchar](255) NOT NULL,
	[FILENAME] [varchar](255) NOT NULL,
	[DATEEXECUTED] [datetime] NOT NULL,
	[ORDEREXECUTED] [int] NOT NULL,
	[EXECTYPE] [varchar](10) NOT NULL,
	[MD5SUM] [varchar](35) NULL,
	[DESCRIPTION] [varchar](255) NULL,
	[COMMENTS] [varchar](255) NULL,
	[TAG] [varchar](255) NULL,
	[LIQUIBASE] [varchar](20) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACT_DE_DATABASECHANGELOGLOCK]    Script Date: 2018/9/11 8:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACT_DE_DATABASECHANGELOGLOCK](
	[ID] [int] NOT NULL,
	[LOCKED] [bit] NOT NULL,
	[LOCKGRANTED] [datetime] NULL,
	[LOCKEDBY] [varchar](255) NULL,
 CONSTRAINT [PK_ACT_DE_DATABASECHANGELOGLOCK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACT_DE_MODEL]    Script Date: 2018/9/11 8:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACT_DE_MODEL](
	[id] [varchar](255) NOT NULL,
	[name] [varchar](400) NOT NULL,
	[model_key] [varchar](400) NOT NULL,
	[description] [varchar](4000) NULL,
	[model_comment] [varchar](4000) NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](255) NULL,
	[last_updated] [datetime] NULL,
	[last_updated_by] [varchar](255) NULL,
	[version] [int] NULL,
	[model_editor_json] [nvarchar](max) NULL,
	[thumbnail] [varbinary](max) NULL,
	[model_type] [int] NULL,
 CONSTRAINT [PK_ACT_DE_MODEL] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACT_DE_MODEL_HISTORY]    Script Date: 2018/9/11 8:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACT_DE_MODEL_HISTORY](
	[id] [varchar](255) NOT NULL,
	[name] [varchar](400) NOT NULL,
	[model_key] [varchar](400) NOT NULL,
	[description] [varchar](4000) NULL,
	[model_comment] [varchar](4000) NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](255) NULL,
	[last_updated] [datetime] NULL,
	[last_updated_by] [varchar](255) NULL,
	[removal_date] [datetime] NULL,
	[version] [int] NULL,
	[model_editor_json] [nvarchar](max) NULL,
	[model_id] [varchar](255) NOT NULL,
	[model_type] [int] NULL,
 CONSTRAINT [PK_ACT_DE_MODEL_HISTORY] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACT_DE_MODEL_RELATION]    Script Date: 2018/9/11 8:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACT_DE_MODEL_RELATION](
	[id] [varchar](255) NOT NULL,
	[parent_model_id] [varchar](255) NULL,
	[model_id] [varchar](255) NULL,
	[relation_type] [varchar](255) NULL,
 CONSTRAINT [PK_ACT_DE_MODEL_RELATION] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACT_DMN_DATABASECHANGELOG]    Script Date: 2018/9/11 8:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACT_DMN_DATABASECHANGELOG](
	[ID] [varchar](255) NOT NULL,
	[AUTHOR] [varchar](255) NOT NULL,
	[FILENAME] [varchar](255) NOT NULL,
	[DATEEXECUTED] [datetime] NOT NULL,
	[ORDEREXECUTED] [int] NOT NULL,
	[EXECTYPE] [varchar](10) NOT NULL,
	[MD5SUM] [varchar](35) NULL,
	[DESCRIPTION] [varchar](255) NULL,
	[COMMENTS] [varchar](255) NULL,
	[TAG] [varchar](255) NULL,
	[LIQUIBASE] [varchar](20) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACT_DMN_DATABASECHANGELOGLOCK]    Script Date: 2018/9/11 8:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACT_DMN_DATABASECHANGELOGLOCK](
	[ID] [int] NOT NULL,
	[LOCKED] [bit] NOT NULL,
	[LOCKGRANTED] [datetime] NULL,
	[LOCKEDBY] [varchar](255) NULL,
 CONSTRAINT [PK_ACT_DMN_DATABASECHANGELOGLOCK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACT_DMN_DECISION_TABLE]    Script Date: 2018/9/11 8:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACT_DMN_DECISION_TABLE](
	[ID_] [varchar](255) NOT NULL,
	[NAME_] [varchar](255) NULL,
	[VERSION_] [int] NULL,
	[KEY_] [varchar](255) NULL,
	[CATEGORY_] [varchar](255) NULL,
	[DEPLOYMENT_ID_] [varchar](255) NULL,
	[PARENT_DEPLOYMENT_ID_] [varchar](255) NULL,
	[TENANT_ID_] [varchar](255) NULL,
	[RESOURCE_NAME_] [varchar](255) NULL,
	[DESCRIPTION_] [varchar](255) NULL,
 CONSTRAINT [PK_ACT_DMN_DECISION_TABLE] PRIMARY KEY CLUSTERED 
(
	[ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACT_DMN_DEPLOYMENT]    Script Date: 2018/9/11 8:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACT_DMN_DEPLOYMENT](
	[ID_] [varchar](255) NOT NULL,
	[NAME_] [varchar](255) NULL,
	[CATEGORY_] [varchar](255) NULL,
	[DEPLOY_TIME_] [datetime] NULL,
	[TENANT_ID_] [varchar](255) NULL,
	[PARENT_DEPLOYMENT_ID_] [varchar](255) NULL,
 CONSTRAINT [PK_ACT_DMN_DEPLOYMENT] PRIMARY KEY CLUSTERED 
(
	[ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACT_DMN_DEPLOYMENT_RESOURCE]    Script Date: 2018/9/11 8:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACT_DMN_DEPLOYMENT_RESOURCE](
	[ID_] [varchar](255) NOT NULL,
	[NAME_] [varchar](255) NULL,
	[DEPLOYMENT_ID_] [varchar](255) NULL,
	[RESOURCE_BYTES_] [varbinary](max) NULL,
 CONSTRAINT [PK_ACT_DMN_DEPLOYMENT_RESOURCE] PRIMARY KEY CLUSTERED 
(
	[ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACT_EVT_LOG]    Script Date: 2018/9/11 8:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACT_EVT_LOG](
	[LOG_NR_] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[TYPE_] [nvarchar](64) NULL,
	[PROC_DEF_ID_] [nvarchar](64) NULL,
	[PROC_INST_ID_] [nvarchar](64) NULL,
	[EXECUTION_ID_] [nvarchar](64) NULL,
	[TASK_ID_] [nvarchar](64) NULL,
	[TIME_STAMP_] [datetime] NOT NULL,
	[USER_ID_] [nvarchar](255) NULL,
	[DATA_] [varbinary](max) NULL,
	[LOCK_OWNER_] [nvarchar](255) NULL,
	[LOCK_TIME_] [datetime] NULL,
	[IS_PROCESSED_] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[LOG_NR_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACT_FO_DATABASECHANGELOG]    Script Date: 2018/9/11 8:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACT_FO_DATABASECHANGELOG](
	[ID] [varchar](255) NOT NULL,
	[AUTHOR] [varchar](255) NOT NULL,
	[FILENAME] [varchar](255) NOT NULL,
	[DATEEXECUTED] [datetime] NOT NULL,
	[ORDEREXECUTED] [int] NOT NULL,
	[EXECTYPE] [varchar](10) NOT NULL,
	[MD5SUM] [varchar](35) NULL,
	[DESCRIPTION] [varchar](255) NULL,
	[COMMENTS] [varchar](255) NULL,
	[TAG] [varchar](255) NULL,
	[LIQUIBASE] [varchar](20) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACT_FO_DATABASECHANGELOGLOCK]    Script Date: 2018/9/11 8:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACT_FO_DATABASECHANGELOGLOCK](
	[ID] [int] NOT NULL,
	[LOCKED] [bit] NOT NULL,
	[LOCKGRANTED] [datetime] NULL,
	[LOCKEDBY] [varchar](255) NULL,
 CONSTRAINT [PK_ACT_FO_DATABASECHANGELOGLOCK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACT_FO_FORM_DEFINITION]    Script Date: 2018/9/11 8:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACT_FO_FORM_DEFINITION](
	[ID_] [varchar](255) NOT NULL,
	[NAME_] [varchar](255) NULL,
	[VERSION_] [int] NULL,
	[KEY_] [varchar](255) NULL,
	[CATEGORY_] [varchar](255) NULL,
	[DEPLOYMENT_ID_] [varchar](255) NULL,
	[PARENT_DEPLOYMENT_ID_] [varchar](255) NULL,
	[TENANT_ID_] [varchar](255) NULL,
	[RESOURCE_NAME_] [varchar](255) NULL,
	[DESCRIPTION_] [varchar](255) NULL,
 CONSTRAINT [PK_ACT_FO_FORM_DEFINITION] PRIMARY KEY CLUSTERED 
(
	[ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACT_FO_FORM_DEPLOYMENT]    Script Date: 2018/9/11 8:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACT_FO_FORM_DEPLOYMENT](
	[ID_] [varchar](255) NOT NULL,
	[NAME_] [varchar](255) NULL,
	[CATEGORY_] [varchar](255) NULL,
	[DEPLOY_TIME_] [datetime] NULL,
	[TENANT_ID_] [varchar](255) NULL,
	[PARENT_DEPLOYMENT_ID_] [varchar](255) NULL,
 CONSTRAINT [PK_ACT_FO_FORM_DEPLOYMENT] PRIMARY KEY CLUSTERED 
(
	[ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACT_FO_FORM_RESOURCE]    Script Date: 2018/9/11 8:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACT_FO_FORM_RESOURCE](
	[ID_] [varchar](255) NOT NULL,
	[NAME_] [varchar](255) NULL,
	[DEPLOYMENT_ID_] [varchar](255) NULL,
	[RESOURCE_BYTES_] [varbinary](max) NULL,
 CONSTRAINT [PK_ACT_FO_FORM_RESOURCE] PRIMARY KEY CLUSTERED 
(
	[ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACT_FO_SUBMITTED_FORM]    Script Date: 2018/9/11 8:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACT_FO_SUBMITTED_FORM](
	[ID_] [varchar](255) NOT NULL,
	[FORM_ID_] [varchar](255) NOT NULL,
	[TASK_ID_] [varchar](255) NULL,
	[PROC_INST_ID_] [varchar](255) NULL,
	[PROC_DEF_ID_] [varchar](255) NULL,
	[SUBMITTED_DATE_] [datetime] NULL,
	[SUBMITTED_BY_] [varchar](255) NULL,
	[FORM_VALUES_ID_] [varchar](255) NULL,
	[TENANT_ID_] [varchar](255) NULL,
 CONSTRAINT [PK_ACT_FO_SUBMITTED_FORM] PRIMARY KEY CLUSTERED 
(
	[ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACT_GE_BYTEARRAY]    Script Date: 2018/9/11 8:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACT_GE_BYTEARRAY](
	[ID_] [nvarchar](64) NOT NULL,
	[REV_] [int] NULL,
	[NAME_] [nvarchar](255) NULL,
	[DEPLOYMENT_ID_] [nvarchar](64) NULL,
	[BYTES_] [varbinary](max) NULL,
	[GENERATED_] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACT_GE_PROPERTY]    Script Date: 2018/9/11 8:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACT_GE_PROPERTY](
	[NAME_] [nvarchar](64) NOT NULL,
	[VALUE_] [nvarchar](300) NULL,
	[REV_] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NAME_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACT_HI_ACTINST]    Script Date: 2018/9/11 8:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACT_HI_ACTINST](
	[ID_] [nvarchar](64) NOT NULL,
	[PROC_DEF_ID_] [nvarchar](64) NOT NULL,
	[PROC_INST_ID_] [nvarchar](64) NOT NULL,
	[EXECUTION_ID_] [nvarchar](64) NOT NULL,
	[ACT_ID_] [nvarchar](255) NOT NULL,
	[TASK_ID_] [nvarchar](64) NULL,
	[CALL_PROC_INST_ID_] [nvarchar](64) NULL,
	[ACT_NAME_] [nvarchar](255) NULL,
	[ACT_TYPE_] [nvarchar](255) NOT NULL,
	[ASSIGNEE_] [nvarchar](255) NULL,
	[START_TIME_] [datetime] NOT NULL,
	[END_TIME_] [datetime] NULL,
	[DURATION_] [numeric](19, 0) NULL,
	[DELETE_REASON_] [nvarchar](4000) NULL,
	[TENANT_ID_] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACT_HI_ATTACHMENT]    Script Date: 2018/9/11 8:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACT_HI_ATTACHMENT](
	[ID_] [nvarchar](64) NOT NULL,
	[REV_] [int] NULL,
	[USER_ID_] [nvarchar](255) NULL,
	[NAME_] [nvarchar](255) NULL,
	[DESCRIPTION_] [nvarchar](4000) NULL,
	[TYPE_] [nvarchar](255) NULL,
	[TASK_ID_] [nvarchar](64) NULL,
	[PROC_INST_ID_] [nvarchar](64) NULL,
	[URL_] [nvarchar](4000) NULL,
	[CONTENT_ID_] [nvarchar](64) NULL,
	[TIME_] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACT_HI_COMMENT]    Script Date: 2018/9/11 8:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACT_HI_COMMENT](
	[ID_] [nvarchar](64) NOT NULL,
	[TYPE_] [nvarchar](255) NULL,
	[TIME_] [datetime] NOT NULL,
	[USER_ID_] [nvarchar](255) NULL,
	[TASK_ID_] [nvarchar](64) NULL,
	[PROC_INST_ID_] [nvarchar](64) NULL,
	[ACTION_] [nvarchar](255) NULL,
	[MESSAGE_] [nvarchar](4000) NULL,
	[FULL_MSG_] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACT_HI_DETAIL]    Script Date: 2018/9/11 8:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACT_HI_DETAIL](
	[ID_] [nvarchar](64) NOT NULL,
	[TYPE_] [nvarchar](255) NOT NULL,
	[PROC_INST_ID_] [nvarchar](64) NULL,
	[EXECUTION_ID_] [nvarchar](64) NULL,
	[TASK_ID_] [nvarchar](64) NULL,
	[ACT_INST_ID_] [nvarchar](64) NULL,
	[NAME_] [nvarchar](255) NOT NULL,
	[VAR_TYPE_] [nvarchar](255) NULL,
	[REV_] [int] NULL,
	[TIME_] [datetime] NOT NULL,
	[BYTEARRAY_ID_] [nvarchar](64) NULL,
	[DOUBLE_] [float] NULL,
	[LONG_] [numeric](19, 0) NULL,
	[TEXT_] [nvarchar](4000) NULL,
	[TEXT2_] [nvarchar](4000) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACT_HI_IDENTITYLINK]    Script Date: 2018/9/11 8:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACT_HI_IDENTITYLINK](
	[ID_] [nvarchar](64) NOT NULL,
	[GROUP_ID_] [nvarchar](255) NULL,
	[TYPE_] [nvarchar](255) NULL,
	[USER_ID_] [nvarchar](255) NULL,
	[TASK_ID_] [nvarchar](64) NULL,
	[PROC_INST_ID_] [nvarchar](64) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACT_HI_PROCINST]    Script Date: 2018/9/11 8:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACT_HI_PROCINST](
	[ID_] [nvarchar](64) NOT NULL,
	[PROC_INST_ID_] [nvarchar](64) NOT NULL,
	[BUSINESS_KEY_] [nvarchar](255) NULL,
	[PROC_DEF_ID_] [nvarchar](64) NOT NULL,
	[START_TIME_] [datetime] NOT NULL,
	[END_TIME_] [datetime] NULL,
	[DURATION_] [numeric](19, 0) NULL,
	[START_USER_ID_] [nvarchar](255) NULL,
	[START_ACT_ID_] [nvarchar](255) NULL,
	[END_ACT_ID_] [nvarchar](255) NULL,
	[SUPER_PROCESS_INSTANCE_ID_] [nvarchar](64) NULL,
	[DELETE_REASON_] [nvarchar](4000) NULL,
	[TENANT_ID_] [nvarchar](255) NULL,
	[NAME_] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[PROC_INST_ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACT_HI_TASKINST]    Script Date: 2018/9/11 8:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACT_HI_TASKINST](
	[ID_] [nvarchar](64) NOT NULL,
	[PROC_DEF_ID_] [nvarchar](64) NULL,
	[TASK_DEF_KEY_] [nvarchar](255) NULL,
	[PROC_INST_ID_] [nvarchar](64) NULL,
	[EXECUTION_ID_] [nvarchar](64) NULL,
	[NAME_] [nvarchar](255) NULL,
	[PARENT_TASK_ID_] [nvarchar](64) NULL,
	[DESCRIPTION_] [nvarchar](4000) NULL,
	[OWNER_] [nvarchar](255) NULL,
	[ASSIGNEE_] [nvarchar](255) NULL,
	[START_TIME_] [datetime] NOT NULL,
	[CLAIM_TIME_] [datetime] NULL,
	[END_TIME_] [datetime] NULL,
	[DURATION_] [numeric](19, 0) NULL,
	[DELETE_REASON_] [nvarchar](4000) NULL,
	[PRIORITY_] [int] NULL,
	[DUE_DATE_] [datetime] NULL,
	[FORM_KEY_] [nvarchar](255) NULL,
	[CATEGORY_] [nvarchar](255) NULL,
	[TENANT_ID_] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACT_HI_VARINST]    Script Date: 2018/9/11 8:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACT_HI_VARINST](
	[ID_] [nvarchar](64) NOT NULL,
	[PROC_INST_ID_] [nvarchar](64) NULL,
	[EXECUTION_ID_] [nvarchar](64) NULL,
	[TASK_ID_] [nvarchar](64) NULL,
	[NAME_] [nvarchar](255) NOT NULL,
	[VAR_TYPE_] [nvarchar](100) NULL,
	[REV_] [int] NULL,
	[BYTEARRAY_ID_] [nvarchar](64) NULL,
	[DOUBLE_] [float] NULL,
	[LONG_] [numeric](19, 0) NULL,
	[TEXT_] [nvarchar](4000) NULL,
	[TEXT2_] [nvarchar](4000) NULL,
	[CREATE_TIME_] [datetime] NULL,
	[LAST_UPDATED_TIME_] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACT_ID_GROUP]    Script Date: 2018/9/11 8:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACT_ID_GROUP](
	[ID_] [nvarchar](64) NOT NULL,
	[REV_] [int] NULL,
	[NAME_] [nvarchar](255) NULL,
	[TYPE_] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACT_ID_INFO]    Script Date: 2018/9/11 8:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACT_ID_INFO](
	[ID_] [nvarchar](64) NOT NULL,
	[REV_] [int] NULL,
	[USER_ID_] [nvarchar](64) NULL,
	[TYPE_] [nvarchar](64) NULL,
	[KEY_] [nvarchar](255) NULL,
	[VALUE_] [nvarchar](255) NULL,
	[PASSWORD_] [varbinary](max) NULL,
	[PARENT_ID_] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACT_ID_MEMBERSHIP]    Script Date: 2018/9/11 8:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACT_ID_MEMBERSHIP](
	[USER_ID_] [nvarchar](64) NOT NULL,
	[GROUP_ID_] [nvarchar](64) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[USER_ID_] ASC,
	[GROUP_ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACT_ID_USER]    Script Date: 2018/9/11 8:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACT_ID_USER](
	[ID_] [nvarchar](64) NOT NULL,
	[REV_] [int] NULL,
	[FIRST_] [nvarchar](255) NULL,
	[LAST_] [nvarchar](255) NULL,
	[EMAIL_] [nvarchar](255) NULL,
	[PWD_] [nvarchar](255) NULL,
	[PICTURE_ID_] [nvarchar](64) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACT_IDM_PERSISTENT_TOKEN]    Script Date: 2018/9/11 8:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACT_IDM_PERSISTENT_TOKEN](
	[series] [varchar](255) NOT NULL,
	[user_id] [varchar](255) NULL,
	[token_value] [varchar](255) NULL,
	[token_date] [datetime] NULL,
	[ip_address] [varchar](39) NULL,
	[user_agent] [varchar](255) NULL,
 CONSTRAINT [PK_ACT_IDM_PERSISTENT_TOKEN] PRIMARY KEY CLUSTERED 
(
	[series] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACT_PROCDEF_INFO]    Script Date: 2018/9/11 8:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACT_PROCDEF_INFO](
	[ID_] [nvarchar](64) NOT NULL,
	[PROC_DEF_ID_] [nvarchar](64) NOT NULL,
	[REV_] [int] NULL,
	[INFO_JSON_ID_] [nvarchar](64) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [ACT_UNIQ_INFO_PROCDEF] UNIQUE NONCLUSTERED 
(
	[PROC_DEF_ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACT_RE_DEPLOYMENT]    Script Date: 2018/9/11 8:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACT_RE_DEPLOYMENT](
	[ID_] [nvarchar](64) NOT NULL,
	[NAME_] [nvarchar](255) NULL,
	[CATEGORY_] [nvarchar](255) NULL,
	[KEY_] [nvarchar](255) NULL,
	[TENANT_ID_] [nvarchar](255) NULL,
	[DEPLOY_TIME_] [datetime] NULL,
	[ENGINE_VERSION_] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACT_RE_MODEL]    Script Date: 2018/9/11 8:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACT_RE_MODEL](
	[ID_] [nvarchar](64) NOT NULL,
	[REV_] [int] NULL,
	[NAME_] [nvarchar](255) NULL,
	[KEY_] [nvarchar](255) NULL,
	[CATEGORY_] [nvarchar](255) NULL,
	[CREATE_TIME_] [datetime] NULL,
	[LAST_UPDATE_TIME_] [datetime] NULL,
	[VERSION_] [int] NULL,
	[META_INFO_] [nvarchar](4000) NULL,
	[DEPLOYMENT_ID_] [nvarchar](64) NULL,
	[EDITOR_SOURCE_VALUE_ID_] [nvarchar](64) NULL,
	[EDITOR_SOURCE_EXTRA_VALUE_ID_] [nvarchar](64) NULL,
	[TENANT_ID_] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACT_RE_PROCDEF]    Script Date: 2018/9/11 8:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACT_RE_PROCDEF](
	[ID_] [nvarchar](64) NOT NULL,
	[REV_] [int] NULL,
	[CATEGORY_] [nvarchar](255) NULL,
	[NAME_] [nvarchar](255) NULL,
	[KEY_] [nvarchar](255) NOT NULL,
	[VERSION_] [int] NOT NULL,
	[DEPLOYMENT_ID_] [nvarchar](64) NULL,
	[RESOURCE_NAME_] [nvarchar](4000) NULL,
	[DGRM_RESOURCE_NAME_] [nvarchar](4000) NULL,
	[DESCRIPTION_] [nvarchar](4000) NULL,
	[HAS_START_FORM_KEY_] [tinyint] NULL,
	[HAS_GRAPHICAL_NOTATION_] [tinyint] NULL,
	[SUSPENSION_STATE_] [tinyint] NULL,
	[TENANT_ID_] [nvarchar](255) NULL,
	[ENGINE_VERSION_] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [ACT_UNIQ_PROCDEF] UNIQUE NONCLUSTERED 
(
	[KEY_] ASC,
	[VERSION_] ASC,
	[TENANT_ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACT_RU_DEADLETTER_JOB]    Script Date: 2018/9/11 8:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACT_RU_DEADLETTER_JOB](
	[ID_] [nvarchar](64) NOT NULL,
	[REV_] [int] NULL,
	[TYPE_] [nvarchar](255) NOT NULL,
	[EXCLUSIVE_] [bit] NULL,
	[EXECUTION_ID_] [nvarchar](64) NULL,
	[PROCESS_INSTANCE_ID_] [nvarchar](64) NULL,
	[PROC_DEF_ID_] [nvarchar](64) NULL,
	[EXCEPTION_STACK_ID_] [nvarchar](64) NULL,
	[EXCEPTION_MSG_] [nvarchar](4000) NULL,
	[DUEDATE_] [datetime] NULL,
	[REPEAT_] [nvarchar](255) NULL,
	[HANDLER_TYPE_] [nvarchar](255) NULL,
	[HANDLER_CFG_] [nvarchar](4000) NULL,
	[TENANT_ID_] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACT_RU_EVENT_SUBSCR]    Script Date: 2018/9/11 8:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACT_RU_EVENT_SUBSCR](
	[ID_] [nvarchar](64) NOT NULL,
	[REV_] [int] NULL,
	[EVENT_TYPE_] [nvarchar](255) NOT NULL,
	[EVENT_NAME_] [nvarchar](255) NULL,
	[EXECUTION_ID_] [nvarchar](64) NULL,
	[PROC_INST_ID_] [nvarchar](64) NULL,
	[ACTIVITY_ID_] [nvarchar](64) NULL,
	[CONFIGURATION_] [nvarchar](255) NULL,
	[CREATED_] [datetime] NOT NULL,
	[PROC_DEF_ID_] [nvarchar](64) NULL,
	[TENANT_ID_] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACT_RU_EXECUTION]    Script Date: 2018/9/11 8:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACT_RU_EXECUTION](
	[ID_] [nvarchar](64) NOT NULL,
	[REV_] [int] NULL,
	[PROC_INST_ID_] [nvarchar](64) NULL,
	[BUSINESS_KEY_] [nvarchar](255) NULL,
	[PARENT_ID_] [nvarchar](64) NULL,
	[PROC_DEF_ID_] [nvarchar](64) NULL,
	[SUPER_EXEC_] [nvarchar](64) NULL,
	[ROOT_PROC_INST_ID_] [nvarchar](64) NULL,
	[ACT_ID_] [nvarchar](255) NULL,
	[IS_ACTIVE_] [tinyint] NULL,
	[IS_CONCURRENT_] [tinyint] NULL,
	[IS_SCOPE_] [tinyint] NULL,
	[IS_EVENT_SCOPE_] [tinyint] NULL,
	[IS_MI_ROOT_] [tinyint] NULL,
	[SUSPENSION_STATE_] [tinyint] NULL,
	[CACHED_ENT_STATE_] [int] NULL,
	[TENANT_ID_] [nvarchar](255) NULL,
	[NAME_] [nvarchar](255) NULL,
	[START_TIME_] [datetime] NULL,
	[START_USER_ID_] [nvarchar](255) NULL,
	[LOCK_TIME_] [datetime] NULL,
	[IS_COUNT_ENABLED_] [tinyint] NULL,
	[EVT_SUBSCR_COUNT_] [int] NULL,
	[TASK_COUNT_] [int] NULL,
	[JOB_COUNT_] [int] NULL,
	[TIMER_JOB_COUNT_] [int] NULL,
	[SUSP_JOB_COUNT_] [int] NULL,
	[DEADLETTER_JOB_COUNT_] [int] NULL,
	[VAR_COUNT_] [int] NULL,
	[ID_LINK_COUNT_] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACT_RU_IDENTITYLINK]    Script Date: 2018/9/11 8:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACT_RU_IDENTITYLINK](
	[ID_] [nvarchar](64) NOT NULL,
	[REV_] [int] NULL,
	[GROUP_ID_] [nvarchar](255) NULL,
	[TYPE_] [nvarchar](255) NULL,
	[USER_ID_] [nvarchar](255) NULL,
	[TASK_ID_] [nvarchar](64) NULL,
	[PROC_INST_ID_] [nvarchar](64) NULL,
	[PROC_DEF_ID_] [nvarchar](64) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACT_RU_INTEGRATION]    Script Date: 2018/9/11 8:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACT_RU_INTEGRATION](
	[ID_] [nvarchar](64) NOT NULL,
	[EXECUTION_ID_] [nvarchar](64) NULL,
	[PROCESS_INSTANCE_ID_] [nvarchar](64) NULL,
	[PROC_DEF_ID_] [nvarchar](64) NULL,
	[FLOW_NODE_ID_] [nvarchar](64) NULL,
	[CREATED_DATE_] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACT_RU_JOB]    Script Date: 2018/9/11 8:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACT_RU_JOB](
	[ID_] [nvarchar](64) NOT NULL,
	[REV_] [int] NULL,
	[TYPE_] [nvarchar](255) NOT NULL,
	[LOCK_EXP_TIME_] [datetime] NULL,
	[LOCK_OWNER_] [nvarchar](255) NULL,
	[EXCLUSIVE_] [bit] NULL,
	[EXECUTION_ID_] [nvarchar](64) NULL,
	[PROCESS_INSTANCE_ID_] [nvarchar](64) NULL,
	[PROC_DEF_ID_] [nvarchar](64) NULL,
	[RETRIES_] [int] NULL,
	[EXCEPTION_STACK_ID_] [nvarchar](64) NULL,
	[EXCEPTION_MSG_] [nvarchar](4000) NULL,
	[DUEDATE_] [datetime] NULL,
	[REPEAT_] [nvarchar](255) NULL,
	[HANDLER_TYPE_] [nvarchar](255) NULL,
	[HANDLER_CFG_] [nvarchar](4000) NULL,
	[TENANT_ID_] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACT_RU_SUSPENDED_JOB]    Script Date: 2018/9/11 8:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACT_RU_SUSPENDED_JOB](
	[ID_] [nvarchar](64) NOT NULL,
	[REV_] [int] NULL,
	[TYPE_] [nvarchar](255) NOT NULL,
	[EXCLUSIVE_] [bit] NULL,
	[EXECUTION_ID_] [nvarchar](64) NULL,
	[PROCESS_INSTANCE_ID_] [nvarchar](64) NULL,
	[PROC_DEF_ID_] [nvarchar](64) NULL,
	[RETRIES_] [int] NULL,
	[EXCEPTION_STACK_ID_] [nvarchar](64) NULL,
	[EXCEPTION_MSG_] [nvarchar](4000) NULL,
	[DUEDATE_] [datetime] NULL,
	[REPEAT_] [nvarchar](255) NULL,
	[HANDLER_TYPE_] [nvarchar](255) NULL,
	[HANDLER_CFG_] [nvarchar](4000) NULL,
	[TENANT_ID_] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACT_RU_TASK]    Script Date: 2018/9/11 8:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACT_RU_TASK](
	[ID_] [nvarchar](64) NOT NULL,
	[REV_] [int] NULL,
	[EXECUTION_ID_] [nvarchar](64) NULL,
	[PROC_INST_ID_] [nvarchar](64) NULL,
	[PROC_DEF_ID_] [nvarchar](64) NULL,
	[NAME_] [nvarchar](255) NULL,
	[PARENT_TASK_ID_] [nvarchar](64) NULL,
	[DESCRIPTION_] [nvarchar](4000) NULL,
	[TASK_DEF_KEY_] [nvarchar](255) NULL,
	[OWNER_] [nvarchar](255) NULL,
	[ASSIGNEE_] [nvarchar](255) NULL,
	[DELEGATION_] [nvarchar](64) NULL,
	[PRIORITY_] [int] NULL,
	[CREATE_TIME_] [datetime] NULL,
	[DUE_DATE_] [datetime] NULL,
	[CATEGORY_] [nvarchar](255) NULL,
	[SUSPENSION_STATE_] [int] NULL,
	[TENANT_ID_] [nvarchar](255) NULL,
	[FORM_KEY_] [nvarchar](255) NULL,
	[CLAIM_TIME_] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACT_RU_TIMER_JOB]    Script Date: 2018/9/11 8:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACT_RU_TIMER_JOB](
	[ID_] [nvarchar](64) NOT NULL,
	[REV_] [int] NULL,
	[TYPE_] [nvarchar](255) NOT NULL,
	[LOCK_EXP_TIME_] [datetime] NULL,
	[LOCK_OWNER_] [nvarchar](255) NULL,
	[EXCLUSIVE_] [bit] NULL,
	[EXECUTION_ID_] [nvarchar](64) NULL,
	[PROCESS_INSTANCE_ID_] [nvarchar](64) NULL,
	[PROC_DEF_ID_] [nvarchar](64) NULL,
	[RETRIES_] [int] NULL,
	[EXCEPTION_STACK_ID_] [nvarchar](64) NULL,
	[EXCEPTION_MSG_] [nvarchar](4000) NULL,
	[DUEDATE_] [datetime] NULL,
	[REPEAT_] [nvarchar](255) NULL,
	[HANDLER_TYPE_] [nvarchar](255) NULL,
	[HANDLER_CFG_] [nvarchar](4000) NULL,
	[TENANT_ID_] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACT_RU_VARIABLE]    Script Date: 2018/9/11 8:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACT_RU_VARIABLE](
	[ID_] [nvarchar](64) NOT NULL,
	[REV_] [int] NULL,
	[TYPE_] [nvarchar](255) NOT NULL,
	[NAME_] [nvarchar](255) NOT NULL,
	[EXECUTION_ID_] [nvarchar](64) NULL,
	[PROC_INST_ID_] [nvarchar](64) NULL,
	[TASK_ID_] [nvarchar](64) NULL,
	[BYTEARRAY_ID_] [nvarchar](64) NULL,
	[DOUBLE_] [float] NULL,
	[LONG_] [numeric](19, 0) NULL,
	[TEXT_] [nvarchar](4000) NULL,
	[TEXT2_] [nvarchar](4000) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACT_WO_COMMENTS]    Script Date: 2018/9/11 8:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACT_WO_COMMENTS](
	[id] [bigint] NOT NULL,
	[message] [varchar](4000) NOT NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](255) NULL,
	[task_id] [varchar](255) NULL,
	[proc_inst_id] [varchar](255) NULL,
	[comment_definition] [nvarchar](max) NULL,
 CONSTRAINT [PK_ACT_WO_COMMENTS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ACT_WO_RELATED_CONTENT]    Script Date: 2018/9/11 8:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACT_WO_RELATED_CONTENT](
	[id] [bigint] NOT NULL,
	[name] [varchar](255) NOT NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](255) NULL,
	[task_id] [varchar](255) NULL,
	[process_id] [varchar](255) NULL,
	[content_source] [varchar](255) NULL,
	[source_id] [varchar](4000) NULL,
	[store_id] [varchar](255) NULL,
	[mime_type] [varchar](255) NULL,
	[field] [varchar](400) NULL,
	[related_content] [bit] NOT NULL,
	[link] [bit] NOT NULL,
	[link_url] [varchar](4000) NULL,
	[content_available] [bit] NULL,
	[locked] [bit] NULL,
	[lock_date] [datetime] NULL,
	[lock_exp_date] [datetime] NULL,
	[lock_owner] [varchar](255) NULL,
	[checked_out] [bit] NULL,
	[checkout_date] [datetime] NULL,
	[checkout_owner] [varchar](255) NULL,
	[last_modified] [datetime] NULL,
	[last_modified_by] [varchar](255) NULL,
	[checked_out_to_local] [bit] NULL,
	[content_size] [bigint] NULL,
 CONSTRAINT [PK_ACT_WO_RELATED_CONTENT] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[hibernate_sequences]    Script Date: 2018/9/11 8:12:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hibernate_sequences](
	[sequence_name] [varchar](255) NULL,
	[sequence_next_hi_value] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [idx_proc_mod_created]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [idx_proc_mod_created] ON [dbo].[ACT_DE_MODEL]
(
	[created_by] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [idx_proc_mod_history_proc]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [idx_proc_mod_history_proc] ON [dbo].[ACT_DE_MODEL_HISTORY]
(
	[model_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ACT_IDX_HI_ACT_INST_END]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_HI_ACT_INST_END] ON [dbo].[ACT_HI_ACTINST]
(
	[END_TIME_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ACT_IDX_HI_ACT_INST_EXEC]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_HI_ACT_INST_EXEC] ON [dbo].[ACT_HI_ACTINST]
(
	[EXECUTION_ID_] ASC,
	[ACT_ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ACT_IDX_HI_ACT_INST_PROCINST]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_HI_ACT_INST_PROCINST] ON [dbo].[ACT_HI_ACTINST]
(
	[PROC_INST_ID_] ASC,
	[ACT_ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ACT_IDX_HI_ACT_INST_START]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_HI_ACT_INST_START] ON [dbo].[ACT_HI_ACTINST]
(
	[START_TIME_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ACT_IDX_HI_DETAIL_ACT_INST]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_HI_DETAIL_ACT_INST] ON [dbo].[ACT_HI_DETAIL]
(
	[ACT_INST_ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ACT_IDX_HI_DETAIL_NAME]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_HI_DETAIL_NAME] ON [dbo].[ACT_HI_DETAIL]
(
	[NAME_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ACT_IDX_HI_DETAIL_PROC_INST]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_HI_DETAIL_PROC_INST] ON [dbo].[ACT_HI_DETAIL]
(
	[PROC_INST_ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ACT_IDX_HI_DETAIL_TASK_ID]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_HI_DETAIL_TASK_ID] ON [dbo].[ACT_HI_DETAIL]
(
	[TASK_ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ACT_IDX_HI_DETAIL_TIME]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_HI_DETAIL_TIME] ON [dbo].[ACT_HI_DETAIL]
(
	[TIME_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ACT_IDX_HI_IDENT_LNK_PROCINST]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_HI_IDENT_LNK_PROCINST] ON [dbo].[ACT_HI_IDENTITYLINK]
(
	[PROC_INST_ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ACT_IDX_HI_IDENT_LNK_TASK]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_HI_IDENT_LNK_TASK] ON [dbo].[ACT_HI_IDENTITYLINK]
(
	[TASK_ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ACT_IDX_HI_IDENT_LNK_USER]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_HI_IDENT_LNK_USER] ON [dbo].[ACT_HI_IDENTITYLINK]
(
	[USER_ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ACT_IDX_HI_PRO_I_BUSKEY]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_HI_PRO_I_BUSKEY] ON [dbo].[ACT_HI_PROCINST]
(
	[BUSINESS_KEY_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ACT_IDX_HI_PRO_INST_END]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_HI_PRO_INST_END] ON [dbo].[ACT_HI_PROCINST]
(
	[END_TIME_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ACT_IDX_HI_TASK_INST_PROCINST]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_HI_TASK_INST_PROCINST] ON [dbo].[ACT_HI_TASKINST]
(
	[PROC_INST_ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ACT_IDX_HI_PROCVAR_NAME_TYPE]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_HI_PROCVAR_NAME_TYPE] ON [dbo].[ACT_HI_VARINST]
(
	[NAME_] ASC,
	[VAR_TYPE_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ACT_IDX_HI_PROCVAR_PROC_INST]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_HI_PROCVAR_PROC_INST] ON [dbo].[ACT_HI_VARINST]
(
	[PROC_INST_ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ACT_IDX_HI_PROCVAR_TASK_ID]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_HI_PROCVAR_TASK_ID] ON [dbo].[ACT_HI_VARINST]
(
	[TASK_ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ACT_IDX_INFO_PROCDEF]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_INFO_PROCDEF] ON [dbo].[ACT_PROCDEF_INFO]
(
	[PROC_DEF_ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ACT_IDX_DEADLETTER_JOB_EXCEPTION_STACK_ID]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_DEADLETTER_JOB_EXCEPTION_STACK_ID] ON [dbo].[ACT_RU_DEADLETTER_JOB]
(
	[EXCEPTION_STACK_ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ACT_IDX_DEADLETTER_JOB_EXECUTION_ID]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_DEADLETTER_JOB_EXECUTION_ID] ON [dbo].[ACT_RU_DEADLETTER_JOB]
(
	[EXECUTION_ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ACT_IDX_DEADLETTER_JOB_PROC_DEF_ID]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_DEADLETTER_JOB_PROC_DEF_ID] ON [dbo].[ACT_RU_DEADLETTER_JOB]
(
	[PROC_DEF_ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ACT_IDX_DEADLETTER_JOB_PROCESS_INSTANCE_ID]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_DEADLETTER_JOB_PROCESS_INSTANCE_ID] ON [dbo].[ACT_RU_DEADLETTER_JOB]
(
	[PROCESS_INSTANCE_ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ACT_IDX_EVENT_SUBSCR_CONFIG_]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_EVENT_SUBSCR_CONFIG_] ON [dbo].[ACT_RU_EVENT_SUBSCR]
(
	[CONFIGURATION_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ACT_IDX_EVENT_SUBSCR_EXEC_ID]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_EVENT_SUBSCR_EXEC_ID] ON [dbo].[ACT_RU_EVENT_SUBSCR]
(
	[EXECUTION_ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ACT_IDX_EXEC_BUSKEY]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_EXEC_BUSKEY] ON [dbo].[ACT_RU_EXECUTION]
(
	[BUSINESS_KEY_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ACT_IDX_EXEC_PROC_INST_ID]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_EXEC_PROC_INST_ID] ON [dbo].[ACT_RU_EXECUTION]
(
	[PROC_INST_ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ACT_IDX_EXEC_ROOT]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_EXEC_ROOT] ON [dbo].[ACT_RU_EXECUTION]
(
	[ROOT_PROC_INST_ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ACT_IDX_EXECUTION_IDANDREV]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_EXECUTION_IDANDREV] ON [dbo].[ACT_RU_EXECUTION]
(
	[ID_] ASC,
	[REV_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ACT_IDX_EXECUTION_PARENT]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_EXECUTION_PARENT] ON [dbo].[ACT_RU_EXECUTION]
(
	[PARENT_ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ACT_IDX_EXECUTION_PROC]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_EXECUTION_PROC] ON [dbo].[ACT_RU_EXECUTION]
(
	[PROC_DEF_ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ACT_IDX_EXECUTION_SUPER]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_EXECUTION_SUPER] ON [dbo].[ACT_RU_EXECUTION]
(
	[SUPER_EXEC_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ACT_IDX_ATHRZ_PROCEDEF]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_ATHRZ_PROCEDEF] ON [dbo].[ACT_RU_IDENTITYLINK]
(
	[PROC_DEF_ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ACT_IDX_IDENT_LNK_GROUP]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_IDENT_LNK_GROUP] ON [dbo].[ACT_RU_IDENTITYLINK]
(
	[GROUP_ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ACT_IDX_IDENT_LNK_PROCINST]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_IDENT_LNK_PROCINST] ON [dbo].[ACT_RU_IDENTITYLINK]
(
	[PROC_INST_ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ACT_IDX_IDENT_LNK_TASK]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_IDENT_LNK_TASK] ON [dbo].[ACT_RU_IDENTITYLINK]
(
	[TASK_ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ACT_IDX_IDENT_LNK_USER]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_IDENT_LNK_USER] ON [dbo].[ACT_RU_IDENTITYLINK]
(
	[USER_ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ACT_IDX_JOB_EXCEPTION_STACK_ID]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_JOB_EXCEPTION_STACK_ID] ON [dbo].[ACT_RU_JOB]
(
	[EXCEPTION_STACK_ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ACT_IDX_JOB_EXECUTION_ID]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_JOB_EXECUTION_ID] ON [dbo].[ACT_RU_JOB]
(
	[EXECUTION_ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ACT_IDX_JOB_PROC_DEF_ID]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_JOB_PROC_DEF_ID] ON [dbo].[ACT_RU_JOB]
(
	[PROC_DEF_ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ACT_IDX_JOB_PROCESS_INSTANCE_ID]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_JOB_PROCESS_INSTANCE_ID] ON [dbo].[ACT_RU_JOB]
(
	[PROCESS_INSTANCE_ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ACT_IDX_SUSPENDED_JOB_EXCEPTION_STACK_ID]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_SUSPENDED_JOB_EXCEPTION_STACK_ID] ON [dbo].[ACT_RU_SUSPENDED_JOB]
(
	[EXCEPTION_STACK_ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ACT_IDX_SUSPENDED_JOB_EXECUTION_ID]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_SUSPENDED_JOB_EXECUTION_ID] ON [dbo].[ACT_RU_SUSPENDED_JOB]
(
	[EXECUTION_ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ACT_IDX_SUSPENDED_JOB_PROC_DEF_ID]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_SUSPENDED_JOB_PROC_DEF_ID] ON [dbo].[ACT_RU_SUSPENDED_JOB]
(
	[PROC_DEF_ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ACT_IDX_SUSPENDED_JOB_PROCESS_INSTANCE_ID]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_SUSPENDED_JOB_PROCESS_INSTANCE_ID] ON [dbo].[ACT_RU_SUSPENDED_JOB]
(
	[PROCESS_INSTANCE_ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ACT_IDX_TASK_CREATE]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_TASK_CREATE] ON [dbo].[ACT_RU_TASK]
(
	[CREATE_TIME_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ACT_IDX_TASK_EXEC]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_TASK_EXEC] ON [dbo].[ACT_RU_TASK]
(
	[EXECUTION_ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ACT_IDX_TASK_PROC_DEF_ID]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_TASK_PROC_DEF_ID] ON [dbo].[ACT_RU_TASK]
(
	[PROC_DEF_ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ACT_IDX_TASK_PROCINST]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_TASK_PROCINST] ON [dbo].[ACT_RU_TASK]
(
	[PROC_INST_ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ACT_IDX_TIMER_JOB_EXCEPTION_STACK_ID]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_TIMER_JOB_EXCEPTION_STACK_ID] ON [dbo].[ACT_RU_TIMER_JOB]
(
	[EXCEPTION_STACK_ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ACT_IDX_TIMER_JOB_EXECUTION_ID]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_TIMER_JOB_EXECUTION_ID] ON [dbo].[ACT_RU_TIMER_JOB]
(
	[EXECUTION_ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ACT_IDX_TIMER_JOB_PROC_DEF_ID]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_TIMER_JOB_PROC_DEF_ID] ON [dbo].[ACT_RU_TIMER_JOB]
(
	[PROC_DEF_ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ACT_IDX_TIMER_JOB_PROCESS_INSTANCE_ID]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_TIMER_JOB_PROCESS_INSTANCE_ID] ON [dbo].[ACT_RU_TIMER_JOB]
(
	[PROCESS_INSTANCE_ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ACT_IDX_VARIABLE_BA]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_VARIABLE_BA] ON [dbo].[ACT_RU_VARIABLE]
(
	[BYTEARRAY_ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ACT_IDX_VARIABLE_EXEC]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_VARIABLE_EXEC] ON [dbo].[ACT_RU_VARIABLE]
(
	[EXECUTION_ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ACT_IDX_VARIABLE_PROCINST]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_VARIABLE_PROCINST] ON [dbo].[ACT_RU_VARIABLE]
(
	[PROC_INST_ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ACT_IDX_VARIABLE_TASK_ID]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [ACT_IDX_VARIABLE_TASK_ID] ON [dbo].[ACT_RU_VARIABLE]
(
	[TASK_ID_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [comment_proc_created]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [comment_proc_created] ON [dbo].[ACT_WO_COMMENTS]
(
	[proc_inst_id] ASC,
	[created] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [comment_task_created]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [comment_task_created] ON [dbo].[ACT_WO_COMMENTS]
(
	[task_id] ASC,
	[created] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [idx_relcont_createdby]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [idx_relcont_createdby] ON [dbo].[ACT_WO_RELATED_CONTENT]
(
	[created_by] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [idx_relcont_procid]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [idx_relcont_procid] ON [dbo].[ACT_WO_RELATED_CONTENT]
(
	[process_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [idx_relcont_taskid]    Script Date: 2018/9/11 8:12:19 ******/
CREATE NONCLUSTERED INDEX [idx_relcont_taskid] ON [dbo].[ACT_WO_RELATED_CONTENT]
(
	[task_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ACT_EVT_LOG] ADD  DEFAULT ((0)) FOR [IS_PROCESSED_]
GO
ALTER TABLE [dbo].[ACT_HI_ACTINST] ADD  DEFAULT ('') FOR [TENANT_ID_]
GO
ALTER TABLE [dbo].[ACT_HI_PROCINST] ADD  DEFAULT ('') FOR [TENANT_ID_]
GO
ALTER TABLE [dbo].[ACT_HI_TASKINST] ADD  DEFAULT ('') FOR [TENANT_ID_]
GO
ALTER TABLE [dbo].[ACT_RE_DEPLOYMENT] ADD  DEFAULT ('') FOR [TENANT_ID_]
GO
ALTER TABLE [dbo].[ACT_RE_MODEL] ADD  DEFAULT ('') FOR [TENANT_ID_]
GO
ALTER TABLE [dbo].[ACT_RE_PROCDEF] ADD  DEFAULT ('') FOR [TENANT_ID_]
GO
ALTER TABLE [dbo].[ACT_RU_DEADLETTER_JOB] ADD  DEFAULT ('') FOR [TENANT_ID_]
GO
ALTER TABLE [dbo].[ACT_RU_EVENT_SUBSCR] ADD  DEFAULT ('') FOR [TENANT_ID_]
GO
ALTER TABLE [dbo].[ACT_RU_EXECUTION] ADD  DEFAULT ('') FOR [TENANT_ID_]
GO
ALTER TABLE [dbo].[ACT_RU_JOB] ADD  DEFAULT ('') FOR [TENANT_ID_]
GO
ALTER TABLE [dbo].[ACT_RU_SUSPENDED_JOB] ADD  DEFAULT ('') FOR [TENANT_ID_]
GO
ALTER TABLE [dbo].[ACT_RU_TASK] ADD  DEFAULT ('') FOR [TENANT_ID_]
GO
ALTER TABLE [dbo].[ACT_RU_TIMER_JOB] ADD  DEFAULT ('') FOR [TENANT_ID_]
GO
ALTER TABLE [dbo].[ACT_WO_RELATED_CONTENT] ADD  CONSTRAINT [DF_ACT_WO_RELATED_CONTENT_content_available]  DEFAULT ((0)) FOR [content_available]
GO
ALTER TABLE [dbo].[ACT_WO_RELATED_CONTENT] ADD  CONSTRAINT [DF_ACT_WO_RELATED_CONTENT_locked]  DEFAULT ((0)) FOR [locked]
GO
ALTER TABLE [dbo].[ACT_WO_RELATED_CONTENT] ADD  CONSTRAINT [DF_ACT_WO_RELATED_CONTENT_checked_out]  DEFAULT ((0)) FOR [checked_out]
GO
ALTER TABLE [dbo].[ACT_WO_RELATED_CONTENT] ADD  CONSTRAINT [DF_ACT_WO_RELATED_CONTENT_checked_out_to_local]  DEFAULT ((0)) FOR [checked_out_to_local]
GO
ALTER TABLE [dbo].[ACT_WO_RELATED_CONTENT] ADD  CONSTRAINT [DF_ACT_WO_RELATED_CONTENT_content_size]  DEFAULT ((0)) FOR [content_size]
GO
ALTER TABLE [dbo].[ACT_DE_MODEL_RELATION]  WITH CHECK ADD  CONSTRAINT [fk_relation_child] FOREIGN KEY([model_id])
REFERENCES [dbo].[ACT_DE_MODEL] ([id])
GO
ALTER TABLE [dbo].[ACT_DE_MODEL_RELATION] CHECK CONSTRAINT [fk_relation_child]
GO
ALTER TABLE [dbo].[ACT_DE_MODEL_RELATION]  WITH CHECK ADD  CONSTRAINT [fk_relation_parent] FOREIGN KEY([parent_model_id])
REFERENCES [dbo].[ACT_DE_MODEL] ([id])
GO
ALTER TABLE [dbo].[ACT_DE_MODEL_RELATION] CHECK CONSTRAINT [fk_relation_parent]
GO
ALTER TABLE [dbo].[ACT_GE_BYTEARRAY]  WITH CHECK ADD  CONSTRAINT [ACT_FK_BYTEARR_DEPL] FOREIGN KEY([DEPLOYMENT_ID_])
REFERENCES [dbo].[ACT_RE_DEPLOYMENT] ([ID_])
GO
ALTER TABLE [dbo].[ACT_GE_BYTEARRAY] CHECK CONSTRAINT [ACT_FK_BYTEARR_DEPL]
GO
ALTER TABLE [dbo].[ACT_ID_MEMBERSHIP]  WITH CHECK ADD  CONSTRAINT [ACT_FK_MEMB_GROUP] FOREIGN KEY([GROUP_ID_])
REFERENCES [dbo].[ACT_ID_GROUP] ([ID_])
GO
ALTER TABLE [dbo].[ACT_ID_MEMBERSHIP] CHECK CONSTRAINT [ACT_FK_MEMB_GROUP]
GO
ALTER TABLE [dbo].[ACT_ID_MEMBERSHIP]  WITH CHECK ADD  CONSTRAINT [ACT_FK_MEMB_USER] FOREIGN KEY([USER_ID_])
REFERENCES [dbo].[ACT_ID_USER] ([ID_])
GO
ALTER TABLE [dbo].[ACT_ID_MEMBERSHIP] CHECK CONSTRAINT [ACT_FK_MEMB_USER]
GO
ALTER TABLE [dbo].[ACT_PROCDEF_INFO]  WITH CHECK ADD  CONSTRAINT [ACT_FK_INFO_JSON_BA] FOREIGN KEY([INFO_JSON_ID_])
REFERENCES [dbo].[ACT_GE_BYTEARRAY] ([ID_])
GO
ALTER TABLE [dbo].[ACT_PROCDEF_INFO] CHECK CONSTRAINT [ACT_FK_INFO_JSON_BA]
GO
ALTER TABLE [dbo].[ACT_PROCDEF_INFO]  WITH CHECK ADD  CONSTRAINT [ACT_FK_INFO_PROCDEF] FOREIGN KEY([PROC_DEF_ID_])
REFERENCES [dbo].[ACT_RE_PROCDEF] ([ID_])
GO
ALTER TABLE [dbo].[ACT_PROCDEF_INFO] CHECK CONSTRAINT [ACT_FK_INFO_PROCDEF]
GO
ALTER TABLE [dbo].[ACT_RE_MODEL]  WITH CHECK ADD  CONSTRAINT [ACT_FK_MODEL_DEPLOYMENT] FOREIGN KEY([DEPLOYMENT_ID_])
REFERENCES [dbo].[ACT_RE_DEPLOYMENT] ([ID_])
GO
ALTER TABLE [dbo].[ACT_RE_MODEL] CHECK CONSTRAINT [ACT_FK_MODEL_DEPLOYMENT]
GO
ALTER TABLE [dbo].[ACT_RE_MODEL]  WITH CHECK ADD  CONSTRAINT [ACT_FK_MODEL_SOURCE] FOREIGN KEY([EDITOR_SOURCE_VALUE_ID_])
REFERENCES [dbo].[ACT_GE_BYTEARRAY] ([ID_])
GO
ALTER TABLE [dbo].[ACT_RE_MODEL] CHECK CONSTRAINT [ACT_FK_MODEL_SOURCE]
GO
ALTER TABLE [dbo].[ACT_RE_MODEL]  WITH CHECK ADD  CONSTRAINT [ACT_FK_MODEL_SOURCE_EXTRA] FOREIGN KEY([EDITOR_SOURCE_EXTRA_VALUE_ID_])
REFERENCES [dbo].[ACT_GE_BYTEARRAY] ([ID_])
GO
ALTER TABLE [dbo].[ACT_RE_MODEL] CHECK CONSTRAINT [ACT_FK_MODEL_SOURCE_EXTRA]
GO
ALTER TABLE [dbo].[ACT_RU_DEADLETTER_JOB]  WITH CHECK ADD  CONSTRAINT [ACT_FK_DEADLETTER_JOB_EXCEPTION] FOREIGN KEY([EXCEPTION_STACK_ID_])
REFERENCES [dbo].[ACT_GE_BYTEARRAY] ([ID_])
GO
ALTER TABLE [dbo].[ACT_RU_DEADLETTER_JOB] CHECK CONSTRAINT [ACT_FK_DEADLETTER_JOB_EXCEPTION]
GO
ALTER TABLE [dbo].[ACT_RU_DEADLETTER_JOB]  WITH CHECK ADD  CONSTRAINT [ACT_FK_DEADLETTER_JOB_EXECUTION] FOREIGN KEY([EXECUTION_ID_])
REFERENCES [dbo].[ACT_RU_EXECUTION] ([ID_])
GO
ALTER TABLE [dbo].[ACT_RU_DEADLETTER_JOB] CHECK CONSTRAINT [ACT_FK_DEADLETTER_JOB_EXECUTION]
GO
ALTER TABLE [dbo].[ACT_RU_DEADLETTER_JOB]  WITH CHECK ADD  CONSTRAINT [ACT_FK_DEADLETTER_JOB_PROC_DEF] FOREIGN KEY([PROC_DEF_ID_])
REFERENCES [dbo].[ACT_RE_PROCDEF] ([ID_])
GO
ALTER TABLE [dbo].[ACT_RU_DEADLETTER_JOB] CHECK CONSTRAINT [ACT_FK_DEADLETTER_JOB_PROC_DEF]
GO
ALTER TABLE [dbo].[ACT_RU_DEADLETTER_JOB]  WITH CHECK ADD  CONSTRAINT [ACT_FK_DEADLETTER_JOB_PROCESS_INSTANCE] FOREIGN KEY([PROCESS_INSTANCE_ID_])
REFERENCES [dbo].[ACT_RU_EXECUTION] ([ID_])
GO
ALTER TABLE [dbo].[ACT_RU_DEADLETTER_JOB] CHECK CONSTRAINT [ACT_FK_DEADLETTER_JOB_PROCESS_INSTANCE]
GO
ALTER TABLE [dbo].[ACT_RU_EVENT_SUBSCR]  WITH CHECK ADD  CONSTRAINT [ACT_FK_EVENT_EXEC] FOREIGN KEY([EXECUTION_ID_])
REFERENCES [dbo].[ACT_RU_EXECUTION] ([ID_])
GO
ALTER TABLE [dbo].[ACT_RU_EVENT_SUBSCR] CHECK CONSTRAINT [ACT_FK_EVENT_EXEC]
GO
ALTER TABLE [dbo].[ACT_RU_EXECUTION]  WITH CHECK ADD  CONSTRAINT [ACT_FK_EXE_PARENT] FOREIGN KEY([PARENT_ID_])
REFERENCES [dbo].[ACT_RU_EXECUTION] ([ID_])
GO
ALTER TABLE [dbo].[ACT_RU_EXECUTION] CHECK CONSTRAINT [ACT_FK_EXE_PARENT]
GO
ALTER TABLE [dbo].[ACT_RU_EXECUTION]  WITH CHECK ADD  CONSTRAINT [ACT_FK_EXE_PROCDEF] FOREIGN KEY([PROC_DEF_ID_])
REFERENCES [dbo].[ACT_RE_PROCDEF] ([ID_])
GO
ALTER TABLE [dbo].[ACT_RU_EXECUTION] CHECK CONSTRAINT [ACT_FK_EXE_PROCDEF]
GO
ALTER TABLE [dbo].[ACT_RU_EXECUTION]  WITH CHECK ADD  CONSTRAINT [ACT_FK_EXE_SUPER] FOREIGN KEY([SUPER_EXEC_])
REFERENCES [dbo].[ACT_RU_EXECUTION] ([ID_])
GO
ALTER TABLE [dbo].[ACT_RU_EXECUTION] CHECK CONSTRAINT [ACT_FK_EXE_SUPER]
GO
ALTER TABLE [dbo].[ACT_RU_IDENTITYLINK]  WITH CHECK ADD  CONSTRAINT [ACT_FK_ATHRZ_PROCEDEF] FOREIGN KEY([PROC_DEF_ID_])
REFERENCES [dbo].[ACT_RE_PROCDEF] ([ID_])
GO
ALTER TABLE [dbo].[ACT_RU_IDENTITYLINK] CHECK CONSTRAINT [ACT_FK_ATHRZ_PROCEDEF]
GO
ALTER TABLE [dbo].[ACT_RU_IDENTITYLINK]  WITH CHECK ADD  CONSTRAINT [ACT_FK_IDL_PROCINST] FOREIGN KEY([PROC_INST_ID_])
REFERENCES [dbo].[ACT_RU_EXECUTION] ([ID_])
GO
ALTER TABLE [dbo].[ACT_RU_IDENTITYLINK] CHECK CONSTRAINT [ACT_FK_IDL_PROCINST]
GO
ALTER TABLE [dbo].[ACT_RU_IDENTITYLINK]  WITH CHECK ADD  CONSTRAINT [ACT_FK_TSKASS_TASK] FOREIGN KEY([TASK_ID_])
REFERENCES [dbo].[ACT_RU_TASK] ([ID_])
GO
ALTER TABLE [dbo].[ACT_RU_IDENTITYLINK] CHECK CONSTRAINT [ACT_FK_TSKASS_TASK]
GO
ALTER TABLE [dbo].[ACT_RU_INTEGRATION]  WITH CHECK ADD  CONSTRAINT [ACT_FK_INT_EXECUTION] FOREIGN KEY([EXECUTION_ID_])
REFERENCES [dbo].[ACT_RU_EXECUTION] ([ID_])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ACT_RU_INTEGRATION] CHECK CONSTRAINT [ACT_FK_INT_EXECUTION]
GO
ALTER TABLE [dbo].[ACT_RU_INTEGRATION]  WITH CHECK ADD  CONSTRAINT [ACT_FK_INT_PROC_DEF] FOREIGN KEY([PROC_DEF_ID_])
REFERENCES [dbo].[ACT_RE_PROCDEF] ([ID_])
GO
ALTER TABLE [dbo].[ACT_RU_INTEGRATION] CHECK CONSTRAINT [ACT_FK_INT_PROC_DEF]
GO
ALTER TABLE [dbo].[ACT_RU_INTEGRATION]  WITH CHECK ADD  CONSTRAINT [ACT_FK_INT_PROC_INST] FOREIGN KEY([PROCESS_INSTANCE_ID_])
REFERENCES [dbo].[ACT_RU_EXECUTION] ([ID_])
GO
ALTER TABLE [dbo].[ACT_RU_INTEGRATION] CHECK CONSTRAINT [ACT_FK_INT_PROC_INST]
GO
ALTER TABLE [dbo].[ACT_RU_JOB]  WITH CHECK ADD  CONSTRAINT [ACT_FK_JOB_EXCEPTION] FOREIGN KEY([EXCEPTION_STACK_ID_])
REFERENCES [dbo].[ACT_GE_BYTEARRAY] ([ID_])
GO
ALTER TABLE [dbo].[ACT_RU_JOB] CHECK CONSTRAINT [ACT_FK_JOB_EXCEPTION]
GO
ALTER TABLE [dbo].[ACT_RU_JOB]  WITH CHECK ADD  CONSTRAINT [ACT_FK_JOB_EXECUTION] FOREIGN KEY([EXECUTION_ID_])
REFERENCES [dbo].[ACT_RU_EXECUTION] ([ID_])
GO
ALTER TABLE [dbo].[ACT_RU_JOB] CHECK CONSTRAINT [ACT_FK_JOB_EXECUTION]
GO
ALTER TABLE [dbo].[ACT_RU_JOB]  WITH CHECK ADD  CONSTRAINT [ACT_FK_JOB_PROC_DEF] FOREIGN KEY([PROC_DEF_ID_])
REFERENCES [dbo].[ACT_RE_PROCDEF] ([ID_])
GO
ALTER TABLE [dbo].[ACT_RU_JOB] CHECK CONSTRAINT [ACT_FK_JOB_PROC_DEF]
GO
ALTER TABLE [dbo].[ACT_RU_JOB]  WITH CHECK ADD  CONSTRAINT [ACT_FK_JOB_PROCESS_INSTANCE] FOREIGN KEY([PROCESS_INSTANCE_ID_])
REFERENCES [dbo].[ACT_RU_EXECUTION] ([ID_])
GO
ALTER TABLE [dbo].[ACT_RU_JOB] CHECK CONSTRAINT [ACT_FK_JOB_PROCESS_INSTANCE]
GO
ALTER TABLE [dbo].[ACT_RU_SUSPENDED_JOB]  WITH CHECK ADD  CONSTRAINT [ACT_FK_SUSPENDED_JOB_EXCEPTION] FOREIGN KEY([EXCEPTION_STACK_ID_])
REFERENCES [dbo].[ACT_GE_BYTEARRAY] ([ID_])
GO
ALTER TABLE [dbo].[ACT_RU_SUSPENDED_JOB] CHECK CONSTRAINT [ACT_FK_SUSPENDED_JOB_EXCEPTION]
GO
ALTER TABLE [dbo].[ACT_RU_SUSPENDED_JOB]  WITH CHECK ADD  CONSTRAINT [ACT_FK_SUSPENDED_JOB_EXECUTION] FOREIGN KEY([EXECUTION_ID_])
REFERENCES [dbo].[ACT_RU_EXECUTION] ([ID_])
GO
ALTER TABLE [dbo].[ACT_RU_SUSPENDED_JOB] CHECK CONSTRAINT [ACT_FK_SUSPENDED_JOB_EXECUTION]
GO
ALTER TABLE [dbo].[ACT_RU_SUSPENDED_JOB]  WITH CHECK ADD  CONSTRAINT [ACT_FK_SUSPENDED_JOB_PROC_DEF] FOREIGN KEY([PROC_DEF_ID_])
REFERENCES [dbo].[ACT_RE_PROCDEF] ([ID_])
GO
ALTER TABLE [dbo].[ACT_RU_SUSPENDED_JOB] CHECK CONSTRAINT [ACT_FK_SUSPENDED_JOB_PROC_DEF]
GO
ALTER TABLE [dbo].[ACT_RU_SUSPENDED_JOB]  WITH CHECK ADD  CONSTRAINT [ACT_FK_SUSPENDED_JOB_PROCESS_INSTANCE] FOREIGN KEY([PROCESS_INSTANCE_ID_])
REFERENCES [dbo].[ACT_RU_EXECUTION] ([ID_])
GO
ALTER TABLE [dbo].[ACT_RU_SUSPENDED_JOB] CHECK CONSTRAINT [ACT_FK_SUSPENDED_JOB_PROCESS_INSTANCE]
GO
ALTER TABLE [dbo].[ACT_RU_TASK]  WITH CHECK ADD  CONSTRAINT [ACT_FK_TASK_EXE] FOREIGN KEY([EXECUTION_ID_])
REFERENCES [dbo].[ACT_RU_EXECUTION] ([ID_])
GO
ALTER TABLE [dbo].[ACT_RU_TASK] CHECK CONSTRAINT [ACT_FK_TASK_EXE]
GO
ALTER TABLE [dbo].[ACT_RU_TASK]  WITH CHECK ADD  CONSTRAINT [ACT_FK_TASK_PROCDEF] FOREIGN KEY([PROC_DEF_ID_])
REFERENCES [dbo].[ACT_RE_PROCDEF] ([ID_])
GO
ALTER TABLE [dbo].[ACT_RU_TASK] CHECK CONSTRAINT [ACT_FK_TASK_PROCDEF]
GO
ALTER TABLE [dbo].[ACT_RU_TASK]  WITH CHECK ADD  CONSTRAINT [ACT_FK_TASK_PROCINST] FOREIGN KEY([PROC_INST_ID_])
REFERENCES [dbo].[ACT_RU_EXECUTION] ([ID_])
GO
ALTER TABLE [dbo].[ACT_RU_TASK] CHECK CONSTRAINT [ACT_FK_TASK_PROCINST]
GO
ALTER TABLE [dbo].[ACT_RU_TIMER_JOB]  WITH CHECK ADD  CONSTRAINT [ACT_FK_TIMER_JOB_EXCEPTION] FOREIGN KEY([EXCEPTION_STACK_ID_])
REFERENCES [dbo].[ACT_GE_BYTEARRAY] ([ID_])
GO
ALTER TABLE [dbo].[ACT_RU_TIMER_JOB] CHECK CONSTRAINT [ACT_FK_TIMER_JOB_EXCEPTION]
GO
ALTER TABLE [dbo].[ACT_RU_TIMER_JOB]  WITH CHECK ADD  CONSTRAINT [ACT_FK_TIMER_JOB_EXECUTION] FOREIGN KEY([EXECUTION_ID_])
REFERENCES [dbo].[ACT_RU_EXECUTION] ([ID_])
GO
ALTER TABLE [dbo].[ACT_RU_TIMER_JOB] CHECK CONSTRAINT [ACT_FK_TIMER_JOB_EXECUTION]
GO
ALTER TABLE [dbo].[ACT_RU_TIMER_JOB]  WITH CHECK ADD  CONSTRAINT [ACT_FK_TIMER_JOB_PROC_DEF] FOREIGN KEY([PROC_DEF_ID_])
REFERENCES [dbo].[ACT_RE_PROCDEF] ([ID_])
GO
ALTER TABLE [dbo].[ACT_RU_TIMER_JOB] CHECK CONSTRAINT [ACT_FK_TIMER_JOB_PROC_DEF]
GO
ALTER TABLE [dbo].[ACT_RU_TIMER_JOB]  WITH CHECK ADD  CONSTRAINT [ACT_FK_TIMER_JOB_PROCESS_INSTANCE] FOREIGN KEY([PROCESS_INSTANCE_ID_])
REFERENCES [dbo].[ACT_RU_EXECUTION] ([ID_])
GO
ALTER TABLE [dbo].[ACT_RU_TIMER_JOB] CHECK CONSTRAINT [ACT_FK_TIMER_JOB_PROCESS_INSTANCE]
GO
ALTER TABLE [dbo].[ACT_RU_VARIABLE]  WITH CHECK ADD  CONSTRAINT [ACT_FK_VAR_BYTEARRAY] FOREIGN KEY([BYTEARRAY_ID_])
REFERENCES [dbo].[ACT_GE_BYTEARRAY] ([ID_])
GO
ALTER TABLE [dbo].[ACT_RU_VARIABLE] CHECK CONSTRAINT [ACT_FK_VAR_BYTEARRAY]
GO
ALTER TABLE [dbo].[ACT_RU_VARIABLE]  WITH CHECK ADD  CONSTRAINT [ACT_FK_VAR_EXE] FOREIGN KEY([EXECUTION_ID_])
REFERENCES [dbo].[ACT_RU_EXECUTION] ([ID_])
GO
ALTER TABLE [dbo].[ACT_RU_VARIABLE] CHECK CONSTRAINT [ACT_FK_VAR_EXE]
GO
ALTER TABLE [dbo].[ACT_RU_VARIABLE]  WITH CHECK ADD  CONSTRAINT [ACT_FK_VAR_PROCINST] FOREIGN KEY([PROC_INST_ID_])
REFERENCES [dbo].[ACT_RU_EXECUTION] ([ID_])
GO
ALTER TABLE [dbo].[ACT_RU_VARIABLE] CHECK CONSTRAINT [ACT_FK_VAR_PROCINST]
GO
USE [master]
GO
