html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0
}

#tbToolbar {
  float: right;
  min-height: auto;
  height: auto;
  border: none;
}

#tbToolbar .e-toolbar-items {
  background: #f3f3f3;
  min-height: 32px;
  height: 32px;
}

#tbToolbar .e-btn:disabled {
  cursor: not-allowed;
  color: darkgrey;
}

#tbToolbar .e-btn {
  min-height: 30px;
  height: 30px;
  background: #f3f3f3;
}

#tbToolbar .e-btn:hover {
  background: gainsboro;
}

#main {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  padding-bottom: 0;
  background: white;
}

.bpm-editor {
  position: absolute;
  left: 0;
  top: 40px;
  right: 0;
  bottom: 0
}

.bpm-editor .label {
  color: black;
}

#tvWorkflow {
  height: 100%;
}

#tvWorkflow.e-treeview .e-ul {
  height: 100%;
  margin: 0;
  padding: 0 0 0 0;
}

#left-panel {
  bottom: 0
}

#left-panel nav {
  height: 100%;
}

.djs-minimap {
  top: 0.3rem !important;
  right: 22rem !important;
}

.parameter-help {
  position: absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
  z-index: 10000;
  display: none;
  background: white;
  padding: 0 16px;
}

.parameter-help>a{
  position: absolute;
  right: 22px;
}

.parameter-help .content{
  width:100%;
  height:100%;
  border:1px lightgray solid;
}

.show-help {
  display: initial;
}
