<template>
  <require from="./debugger/workflow-debugger"></require>
  <require from="./debugger/error-output-bar"></require>

  <style>
    .bpmn-content {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0
    }

    .canvas {
      width: 100%;
      height: 100%;
    }

    .btn-save {
      position: absolute;
      bottom: 10px;
      left: 10px;
    }

    .btn-deploy {
      position: absolute;
      bottom: 10px;
      left: 90px;
    }

    .btn-copy {
      position: absolute;
      bottom: 10px;
      left: 170px;
    }

    .btn-code {
      position: absolute;
      bottom: 10px;
      left: 260px;
    }

    .btn-error {
      position: absolute;
      bottom: 10px;
      left: 350px;
    }

    #js-properties-panel {
      background: white;
    }

    #tab-content {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0
    }

    .e-content.bpmn-content {
      position: absolute;
      top: 0;
      bottom: 40px;
      width: 100%;
      height: 100%;
    }

    .bpmn-content>.e-item {
      height: 100%;
    }

    .e-tab-header.bottom {
      position: absolute;
      bottom: 0;
    }

    .code-conent {
      width: 100%;
      height: 100%;
    }

    .bjs-powered-by {
      right: initial !important;
      left: 10px;
    }

  </style>

  <div id="tab-content">
    <div class="e-tab-header bottom">
      <div>BPMN</div>
      <div>CODE</div>
      <div>DEBUG</div>
    </div>
    <div class="e-content bpmn-content">
      <!-- BPMN EDITOR START  -->
      <div>
        <div class="content" id="js-drop-zone">

          <div class="message error">
            <div class="note">
              <p>Ooops, we could not display the BPMN 2.0 diagram.</p>

              <div class="details">
                <span>cause of the problem</span>
                <pre></pre>
              </div>
            </div>
          </div>

          <div class="canvas" id="js-canvas"></div>
          <div class="properties-panel-parent" id="js-properties-panel"></div>
        </div>
      </div>
      <!-- BPMN EDITOR END -->

      <!-- CODE EDITOR START -->
      <div>
        <div id="code-xml" class="code-conent"></div>
      </div>
      <!-- CODE EDITOR END -->

      <!-- PARAMETER START -->
      <div>
        <workflow-debugger></workflow-debugger>
      </div>
      <!-- PARAMETER END   -->

    </div>
  </div>

  <error-output-bar></error-output-bar>

</template>
