<template>
  <require from="./bpm-editor"></require>

  <script id="menuTemplate" type="text/x-template">
    <div>
    </div>
  </script>

  <!-- #NAVIGATION -->
  <!-- Left panel : Navigation area -->
  <!-- Note: This width of the aside area can be adjusted through LESS/SASS variables -->
  <aside id="left-panel">

    <!-- User info -->
    <!-- <div class="login-info">
      <div id="tbWorkflow">
        <div>
        </div>
      </div>
    </div> -->
    <!-- end user info -->

    <!-- NAVIGATION : This navigation is also responsive

    To make this navigation dynamic please make sure to link the node
    (the reference to the nav > ul) after page load. Or the navigation
    will not initialize.
    -->
    <nav>
      <!-- 
      NOTE: Notice the gaps after each icon usage <i></i>..
      Please note that these links work a bit different than
      traditional href="" links. See documentation for details.
      -->

      <div id="tvWorkflow"></div>
    </nav>

  </aside>
  <!-- END NAVIGATION -->

  <!-- #MAIN PANEL -->
  <div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

      <!-- breadcrumb -->
      <ol class="breadcrumb">
        <li>业务流程</li>
        <li>${selected.name}</li>
      </ol>
      <!-- end breadcrumb -->

      <div class="ribbon-button-alignment" style="padding-top:4px">
        <input type="text" id="ddlVersion" style="width:100px" />
      </div>

      <!-- You can also add more buttons to the
      ribbon for further usability

      Example below:

      <span class="ribbon-button-alignment pull-right" style="margin-right:25px">
        <a href="#" id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa fa-grid"></i> Change Grid</a>
        <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa fa-plus"></i> Add</span>
        <button id="search" class="btn btn-ribbon" data-title="search"><i class="fa fa-search"></i> <span class="hidden-mobile">Search</span></button>
      </span> -->

      <div style="float:right">
        <div id="tbToolbar">
          <div>
            <div title="新建">
              <button class="e-tbar-btn e-btn e-control e-lib" click.trigger="createWorkflow()">
                <i class="fa fa-plus"></i>
              </button>
            </div>
            <div title="删除">
              <button class="e-tbar-btn e-btn e-control e-lib" disabled.bind="selected==null||selected.id=='root'"
                click.trigger="dispatch('removeWorkflow')">
                <i class="fa fa-close"></i>
              </button>
            </div>
            <div title="刷新">
              <button class="e-tbar-btn e-btn e-control e-lib" click.trigger="reload()">
                <i class="fa fa-refresh"></i>
              </button>
            </div>
            <div title="复制">
              <button class="e-tbar-btn e-btn e-control e-lib" disabled.bind="selected==null||selected.id=='root'"
                click.trigger="copy()">
                <i class="fa fa-clone"></i>
              </button>
            </div>
            <div title="保存为草稿">
              <button class="e-tbar-btn e-btn e-control e-lib" disabled.bind="selected==null||selected.id=='root'"
                click.trigger="dispatch('saveWorkflow')">
                <i class="fa fa-file-text-o"></i>
              </button>
            </div>
            <div title="部署">
              <button class="e-tbar-btn e-btn e-control e-lib" disabled.bind="selected==null||selected.id=='root'"
                click.trigger="dispatch('deployWorkflow')">
                <i class="fa fa-cogs"></i>
              </button>
            </div>
            <div class='e-separator'></div>
            <div title="查看代码">
              <button class="e-tbar-btn e-btn e-control e-lib" disabled.bind="selected==null||selected.id=='root'"
                click.trigger="dispatch('showBpmXml')">
                <i class="fa fa-code"></i>
              </button>
            </div>
            <div title="更新">
              <button class="e-tbar-btn e-btn e-control e-lib" disabled.bind="selected==null||selected.id=='root'"
                click.trigger="dispatch('updateBpmn')">
                <i class="fa fa-save"></i>
              </button>
            </div>
            <div title="下载">
              <button class="e-tbar-btn e-btn e-control e-lib" disabled.bind="selected==null||selected.id=='root'"
                click.trigger="dispatch('downloadBpmXml')">
                <i class="fa fa-download"></i>
              </button>
            </div>
            <div title="存为图片">
              <button class="e-tbar-btn e-btn e-control e-lib" disabled.bind="selected==null||selected.id=='root'"
                click.trigger="dispatch('saveAsImage')">
                <i class="fa fa-image"></i>
              </button>
            </div>
            <div class='e-separator'></div>
          </div>
        </div>
      </div>
    </div>
    <!-- END RIBBON -->

    <!-- #MAIN CONTENT -->

    <!-- col -->
    <div class="bpm-editor">
      <bpm-editor></bpm-editor>
    </div>
    <!-- end col -->

    <!-- end row -->

    <!-- END #MAIN CONTENT -->

  </div>
  <!-- END #MAIN PANEL -->

</template>
