@import "../node_modules/@syncfusion/ej2-icons/styles/fabric.css";
@import "../node_modules/@syncfusion/ej2-base/styles/fabric.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/fabric.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/fabric.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/fabric.css";
@import "../node_modules/@syncfusion/ej2-dropdowns/styles/fabric.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/fabric.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/fabric.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/fabric.css";
@import "../node_modules/@syncfusion/ej2-grids/styles/fabric.css";
@import "../node_modules/@syncfusion/ej2-calendars/styles/fabric.css";
@import "../node_modules/@syncfusion/ej2-treegrid/styles/fabric.css";

.debugger-toolbar {
  display: block;
  width: 100%;
  height: 64px;
  padding: 8px 8px;
}

.service-script-editor,
.debugger-parameter {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  top: 72px;
  left: 0;
  right: 0;
  overflow: hidden;
}

.service-script-editor {
  padding: 0 8px 0;
}

.ace_editor {
  font-size: 16px;
}

.debugger-parameter .list {
  float: left;
  width: 100%;
  padding: 8px 8px;
  overflow: hidden;
  position: relative;
  height: 100%;
}

.debugger-parameter .list.no-activate {
  display: none;
}

.debugger-parameter .list .data-grid {
  position: absolute;
  overflow: auto;
  left: 8px;
  top: 8px;
  right: 8px;
  bottom: 8px;
}

.debugger-parameter .parameters {
  float: left;
  width: 50%;
  padding: 8px 8px;
  height: 100%;
  position: relative;
}

.debugger-parameter .parameters .editor {
  position: absolute;
  overflow: hidden;
  left: 8px;
  top: 8px;
  right: 8px;
  bottom: 8px;
  border-bottom: 1px lightgray solid;
}

.debugger-parameter .parameters .btn-groups {
  position: absolute;
  width: 100%;
  text-align: right;
  bottom: 0;
  padding-right: 25px;
}

.debugger-toolbar .alert {
  margin-bottom: 0;
  display: table;
  width: 100%;
}

.debugger-toolbar .alert > h4 {
  display: inline-block;
  margin-top: 8px;
}

.alert .btn-groups {
  float: right;
}

.alert .btn-groups > button {
  margin-right: 4px;
  font-size: 18px;
}

.alert .btn-groups > button.play {
  color: green;
}

.alert .btn-groups > button.stop {
  color: red;
}

.alert .btn-groups > button.save {
  color: #0078d6;
}

.alert .e-tab-wrap {
  height: 38px;
  position: relative;
  cursor: pointer;
}

.alert .e-tab-wrap.activate::before {
  border: 1px solid #0078d6;
  content: "";
  display: block;
  position: absolute;
  top: 95%;
  width: 100%;
}
