<template>
  <require from="./workflow-tasks"></require>

  <style>

    .e-table {
      cursor: default;
    }

    #dgWorkflowParameter .e-edit {
      color: red
    }

    .parameter-editor {
      width: 420px;
      height: 200px;
    }

  </style>

  <div class="debugger-toolbar">
    <nav class="alert alert-info" style="height:100%">
      <div style="display: inline-block;">
        <div class="e-tab-wrap activate" click.trigger="onSelectedParameter()">
          <span class="e-text-wrap">
            <span class="e-tab-text" role="presentation">
              <h4>变量设置</h4>
            </span>
          </span>
        </div>
      </div>

      <div style="display: inline-block;margin-left:8px">
        <div class="e-tab-wrap" click.trigger="onSelectedProcessTasks()">
          <span class="e-text-wrap">
            <span class="e-tab-text" role="presentation">
              <h4>流程任务</h4>
            </span>
          </span>
        </div>
      </div>

      <div class="btn-groups">
        <button class="e-btn play" disabled.bind="workflowModeler.process==null" title="运行流程"
          click.trigger="runWorkflow()">
          <i class="fa fa-play"></i>
        </button>
        <button class="e-btn save" disabled.bind="workflowModeler.process==null" title="保存参数设置"
          click.trigger="saveParameter()">
          <i class="fa fa-save"></i>
        </button>
        <button class="e-btn" disabled.bind="workflowModeler.process==null" title="刷新任务列表"
          click.trigger="reloadProcessTasks()">
          <i class="fa fa-refresh"></i>
        </button>
        <button class="e-btn stop" disabled.bind="workflowModeler.process==null" title="强制删除当前任务"
          click.trigger="removeTask()">
          <i class="fa fa-remove"></i>
        </button>
      </div>
    </nav>
  </div>

  <div class="debugger-parameter">
    <div class="list">
      <div class="data-grid">
        <div id="dgWorkflowParameter"></div>
      </div>
    </div>

    <div class="list no-activate">
      <workflow-tasks></workflow-tasks>
    </div>
  </div>

</template>
